.cardDiv {
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f8f0ff;
	border-left: 3px solid #30d9ce;
	border-bottom: 3px solid #30d9ce;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
.cardDiv h5 {
	width: 60%;
	margin: 0 24px;
}
.cardDiv .checkBox {
	width: 5%;
	height: 22px;
}
.deletebtn {
	min-width: 120px;
	background-color: #d72e22;
}
.editbtn,
.deletebtn {
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	transition: background-color 0.15s;
	color: white;
}
.deletebtn:hover {
	background-color: #e31405;
}
.editbtn {
	min-width: 100px;
	background-color: rgb(131, 131, 131);
}
.editbtn:hover {
	background-color: rgb(123, 123, 123);
}
.editIcon,
.deleteIcon {
	margin-left: 10px;
}
